page-login {
	.splash-bg {
		position: relative;
		background: url('../assets/img/app-bg.jpg') no-repeat transparent;
		background-size: 100% auto;
		height:100%;
	 
	}
	.login-card {
		margin: 50% auto 0;	
	}
}
