<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'SIGNUP_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
   
  <ul class="custom-tab">
     
    <li  [ngClass]="{'active':slides[0].active}">
      <a href="#" >
          <span class="ico-detail ico"></span>
        <span class="text">Enter Details</span>
      </a></li>
    <li [ngClass]="{'active':slides[1].active}"><a href="#">
        <span class="ico-gender ico"></span>
        <span class="text">Gender</span>
      </a></li>
    <li [ngClass]="{'active':slides[2].active}"><a href="#">
        <span class="ico-age ico"></span>
        <span class="text">Date of Birth</span>
      </a></li>
    <li [ngClass]="{'active':slides[3].active}"><a href="#">
        <span class="ico-measure ico"></span>
        <span class="text">Height</span>
      </a></li>
    <li [ngClass]="{'active':slides[4].active}"><a href="#">
        <span class="ico-password ico"></span>
        <span class="text">Enter Password</span>
      </a></li>
  </ul>
  <form (submit)="doSignup()">

    <ion-card class="signup-card" *ngIf="slides[0].active">
      <ion-card-content>
        <ion-list>
          <ion-item class="custom-border">
            <ion-label stacked>First Name</ion-label>
            <ion-input type="text" [(ngModel)]="account.firstname" name="firstname"></ion-input>
          </ion-item>

          <ion-item class="custom-border">
            <ion-label stacked>Last Name</ion-label>
            <ion-input type="text" [(ngModel)]="account.lastname" name="lastname"></ion-input>
          </ion-item>

          <ion-item class="custom-border">
            <ion-label stacked>User Name</ion-label>
            <ion-input type="email" [(ngModel)]="account.username" name="username"></ion-input>
          </ion-item>
        </ion-list>
        <div class="note">
          <p>*User your email as username.</p>
        </div>
      </ion-card-content>
    </ion-card>
    <ion-card class="signup-card" *ngIf="slides[1].active">
      <ion-card-content>
          <ion-list radio-group >
              <ion-list-header>
                I'M A
              </ion-list-header>
            
              <ion-item >
                <ion-label>Male</ion-label>
                <ion-radio checked="true" value="male"></ion-radio>
              </ion-item>
            
              <ion-item>
                <ion-label>Female</ion-label>
                <ion-radio  value="female"></ion-radio>
              </ion-item>
            
              
            </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card class="signup-card" *ngIf="slides[2].active">
        <ion-card-content>
            <ion-list radio-group>
                <ion-list-header>
                    WHEN WHERE YOU BORN?
                </ion-list-header>
              
                <ion-item>
                  <ion-label>Go</ion-label>
                  <ion-radio checked="true" value="go"></ion-radio>
                </ion-item>
              
                <ion-item>
                  <ion-label>Rust</ion-label>
                  <ion-radio value="rust"></ion-radio>
                </ion-item>
              
                <ion-item>
                  <ion-label>Python</ion-label>
                  <ion-radio value="python" disabled="true"></ion-radio>
                </ion-item>
              </ion-list>
        </ion-card-content>
      </ion-card>
      <ion-card class="signup-card" *ngIf="slides[3].active">
          <ion-card-content>
              <ion-list radio-group>
                  <ion-list-header>
                      HOW TALL ARE YOU?
                  </ion-list-header>
                
                  <ion-item>
                    <ion-label>Go</ion-label>
                    <ion-radio checked="true" value="go"></ion-radio>
                  </ion-item>
                
                  <ion-item>
                    <ion-label>Rust</ion-label>
                    <ion-radio value="rust"></ion-radio>
                  </ion-item>
                
                  <ion-item>
                    <ion-label>Python</ion-label>
                    <ion-radio value="python" disabled="true"></ion-radio>
                  </ion-item>
                </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card class="signup-card" *ngIf="slides[4].active">
            <ion-card-content>
                <ion-item class="custom-border">
                    <ion-label stacked>{{ 'PASSWORD' | translate }}</ion-label>
                    <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
                </ion-item>
                <ion-item class="custom-border">
                    <ion-label stacked>Confirm password</ion-label>
                    <ion-input type="password" [(ngModel)]="account.confirmpassword" name="confirmpassword"></ion-input>
                </ion-item>
            </ion-card-content>
          </ion-card>
  </form>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <button ion-button color="primary" class="big-btn" (click)="changeTab(currentSlide)">{{buttonText}}</button>
  </ion-toolbar>
</ion-footer>
